/* styles for tickets dic */


.tickets--div{
position: relative;
display: flex;
padding: 5px;
justify-content: space-between;
margin: auto;
flex-direction: row;
flex-wrap: wrap;

}

.Low-div, .Mid-div, .High-div{
flex-wrap: wrap;
flex-direction: column;
padding: 10px;
width:33.33333333%;
flex:0 0 auto;
}

.High, .Medium, .Low{
  border: 2px solid whitesmoke;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;

}

.High{
    background-color: rgba(235, 67, 37, 0.596);
}
 
.Medium{
    background-color: aquamarine;
}

.Low{
    background-color: wheat;
}

.priority{
    background-color: aliceblue;
    width: 25%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-size: large;
    font-weight: 500;
}
.delete{
    position: relative;
    left: 20px;
}
