/* styles for tickets dic */

/* .column--tickets{
    position: relative;
 
    border: 2px black solid; 
    width: 30%;
    padding: auto;
    flex-wrap: wrap;
    flex-direction: column;
} */


.tickets--div{
position: relative;
display: flex;
padding: 5px;
justify-content: space-between;
margin: auto;
flex-direction: row;
flex-wrap: wrap;

}

.Low-div, .Mid-div, .High-div{
flex-wrap: wrap;
flex-direction: column;
padding: 10px;
width:33.33333333%;
flex:0 0 auto;
}

.High, .Medium, .Low{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
 