/* styles for tickets dic */
body{
    background-color: rgb(97, 96, 96);
}

.tickets--div{
position: relative;
display: flex;
padding: 5px;
justify-content: space-between;
margin: auto;
flex-direction: row;
flex-wrap: wrap;

}

.Low-div, .Mid-div, .High-div{
flex-wrap: wrap;
flex-direction: column;
padding: 10px;
width:33.33333333%;
flex:0 0 auto;
}

.High, .Medium, .Low{
  border: 2px solid whitesmoke;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;

}
.High, .Medium, .Low > h3{
font-family: 'Courier New', Courier, monospace;
}


.High{
    background-color: rgba(235, 67, 37, 0.596);
}
 
.Medium{
    background-color: aquamarine;
}

.Low{
    background-color: wheat;
}

.priority{
    background-color: aliceblue;
    width: 25%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-size: large;
    font-weight: 500;
}
.delete{
    position: relative;
    left: 20px;
}
.issue--header{
    position: relative;
    top: 70px;
    margin: 25px;
    color: chocolate;
}

.issue--div{
    position: relative;
    margin-top: 40px;
    
}
.priority--div, .assigned--div, .desc{
    margin: 15px;
    position: relative;
    color: chocolate;

}